<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="jaka_zu15">
  <!-- LINK -->
  <link name="world" />
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.014771 -0.000602 0.029843"
        rpy="0 0 0" />
      <mass
        value="1.366" />
      <inertia
        ixx="5.1387"
        ixy="0.00072433"
        ixz="0.15847"
        iyy="9.4601"
        iyz="-0.048546"
        izz="11.183" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.glb" />
      </geometry>
    </collision>
  </link>
  <!-- JOINT -->
  <joint name="fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
     <parent link="world"/>
     <child link="base_link"/>
  </joint>  
  <link
    name="Link_01">
    <inertial>
      <origin
        xyz="1.2E-05 0.004888 -0.033185"
        rpy="0 0 0" />
      <mass
        value="9.321" />
      <inertia
        ixx="48.471"
        ixy="-0.01274"
        ixz="0.045021"
        iyy="47.812"
        iyz="0.53242"
        izz="29.322" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_01.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_01.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.184"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_01" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="411"
      velocity="3.31" />
  </joint>
  <link
    name="Link_02">
    <inertial>
      <origin
        xyz="0.25641 -1.5E-05 -0.18144"
        rpy="0 0 0" />
      <mass
        value="17.227" />
      <inertia
        ixx="635.84"
        ixy="-0.12418"
        ixz="-822.93"
        iyy="3379.7"
        iyz="0.019691"
        izz="2797.2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_02.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_02.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link_01" />
    <child
      link="Link_02" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.48"
      upper="4.62"
      effort="411"
      velocity="3.31" />
  </joint>
  <link
    name="Link_03">
    <inertial>
      <origin
        xyz="0.35975 6.1E-05 -0.045566"
        rpy="0 0 0" />
      <mass
        value="5.12" />
      <inertia
        ixx="20.798"
        ixy="-0.0078393"
        ixz="-87.972"
        iyy="940.93"
        iyz="-0.031499"
        izz="928.07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_03.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_03.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.7 0 0"
      rpy="0 0 0" />
    <parent
      link="Link_02" />
    <child
      link="Link_03" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.93"
      upper="2.93"
      effort="194"
      velocity="3.66" />
  </joint>
  <link
    name="Link_04">
    <inertial>
      <origin
        xyz="1.2E-05 0.028535 0.004248"
        rpy="0 0 0" />
      <mass
        value="2.371" />
      <inertia
        ixx="6.1112"
        ixy="0.0023171"
        ixz="0.00088886"
        iyy="2.5056"
        iyz="0.0080603"
        izz="5.982" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_04.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_04.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0.5635 0 -0.1635"
      rpy="0 0 0" />
    <parent
      link="Link_03" />
    <child
      link="Link_04" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="53"
      velocity="3.66" />
  </joint>
  <link
    name="Link_05">
    <inertial>
      <origin
        xyz="1.1E-05 0.026844 -0.004152"
        rpy="0 0 0" />
      <mass
        value="2.416" />
      <inertia
        ixx="6.3035"
        ixy="-0.0023526"
        ixz="-0.00089034"
        iyy="2.5358"
        iyz="0.0082096"
        izz="6.1748" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_05.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_05.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.1365 0"
      rpy="1.5708 0 0" />
    <parent
      link="Link_04" />
    <child
      link="Link_05" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="53"
      velocity="3.66" />
  </joint>
  <link
    name="Link_06">
    <inertial>
      <origin
        xyz="-0.000294 -0.000287 -0.03157"
        rpy="0 0 0" />
      <mass
        value="0.706" />
      <inertia
        ixx="1.6842"
        ixy="0.0049316"
        ixz="0.0073828"
        iyy="1.6972"
        iyz="0.0083448"
        izz="1.276" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_06.glb" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link_06.glb" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0.1465 0"
      rpy="-1.5708 0 0" />
    <parent
      link="Link_05" />
    <child
      link="Link_06" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-6.28"
      upper="6.28"
      effort="53"
      velocity="3.66" />
  </joint>

  <transmission name="trans_joint_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_1">
            <hardwareInterface>hardware_interface/Positionjoint_ointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_1_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_2">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_2_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_3">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_3_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_4">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_4_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_5">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_5_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
    <transmission name="trans_joint_6">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="joint_6">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="joint_6_motor">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
 
    <gazebo>
        <!-- <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so"> -->
        <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="libign_ros2_control-system.so">
          <parameters>$(find jaka_zu15_moveit_config)/config/ros2_controllers.yaml</parameters>
          <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>
</robot>